@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "403 Forbidden";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Brak uprawnień do tego zasobu.</p>
</header>
