@using SODP.UI.Pages.Designers.ViewModels

@model BranchesVM

    <form asp-page-handler="BranchesList">

        <dl>
            @foreach (var item in Model.Branches)
            {
                <dt>@item.Text</dt>
            }
        </dl>
     </form>