@using SODP.UI.ViewModels

@model LicencesListVM

<div>
    @if (Model.Licences.Count > 0)
    {
        @foreach (var lic in Model.Licences)
        {
            <div class="row">
                <div class="col">
                    (@lic.Branch.Sign) @lic.Branch.Title - @lic.Contents
                </div>
            </div>
        }
    }
    else
    {
        <p>Brak uprawnień</p>
    }
</div>
