@using SODP.UI.Pages.Designers.ViewModels

@model LicensesVM

<div>
    @if (Model.Licenses.Count() > 0)
    {

        @foreach (var lic in Model.Licenses)
        {
            <div class="row">

                <div class=" col-1">
                    <a onclick='Delete("/api/v0_01/licenses/@lic.Id")'
                       class="btn btn-lg m-0 p-0 text-danger clickable"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Usuń uprawnienia">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
                <a href="/Licenses/Edit?id=@lic.Id"
                   class="cell clickable"
                   data-toggle="tooltip"
                   title="Edycja"
                   data-placement="top">
                    @lic.Content
                </a>

            </div>

            @foreach (var branch in lic.ApplyBranches)
            {
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        @branch.Text
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p>Brak uprawnień</p>
    }
</div>


