@page
@model SODP.UI.Pages.Users.EditModel
@{
}

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Edycja użytkownika</h2>
    </div>
</div>
<div class="container border" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="CurrentUser.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="CurrentUser.UserName" class="form-control" readonly="@(true)" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="CurrentUser.Firstname" class="form-control" placeholder="Imię" />
            </div>
            <span asp-validation-for="CurrentUser.Firstname" style="font-size:14px" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-12 col-md-7">
                <input asp-for="CurrentUser.Lastname" class="form-control" placeholder="Nazwisko" />
            </div>
            <span asp-validation-for="CurrentUser.Lastname" style="font-size:14px" class="text-danger"></span>
        </div>

        @foreach (var role in Model.AllRoles)
        {
            <div class="form-group row">
                <div class="col-12">
                    @if (Model.CurrentUser.UserName == "Administrator" && role.Key == "Administrator")
                    {
                        <input asp-for="AllRoles[role.Key]" type="checkbox" checked="@Model.CurrentUser.Roles.Contains(role.Key)" disabled="disabled" />
                    }
                    else
                    {
                        <input asp-for="AllRoles[role.Key]" type="checkbox" checked="@Model.CurrentUser.Roles.Contains(role.Key)" />
                    }
                    <label>@role.Key</label>
                </div>
            </div>
        }
        <div class="form-group row">
            <div class="col-12 col-md-7">
                <partial name="_SubmitAndBackButtonPartial" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}