<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-primary" data-save="modal">Zapisz</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Wróć</button>
    </div>
</div>
