<div class="row">
    <div class="col-6">
        <input type="submit" value="Zapisz" class="btn btn-primary form-control" />
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Powrót do listy</a>
    </div>
</div>
