@page
@model EditModel

@using SODP.Shared.Enums

<br />

<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Edycja projektu</h2>
    </div>
</div>

<br />

<div class="container">
    <div class="border justify-content-end col-12 col-md-7" style="padding:30px;">
        <form method="post">
            <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <input asp-for="Project.Id" type="hidden"/>

            <div class="form-group row">
                <div class="col-12">
                    <input asp-for="Project.Number" class="form-control" placeholder="Numer" readonly />
                    <span asp-validation-for="Project.Number" style="font-size:14px" class="text-danger"></span>
                </div>
                <div class="row">
                </div>
            </div>

            <input asp-for="Project.StageId" type="hidden" />
            <input asp-for="Project.StageSign" type="hidden" />
            <input asp-for="Project.StageName" type="hidden" />
            <div class="form-group row">
                <div class="col-12">
                    <input asp-for="Project.Stage" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <input asp-for="Project.Name" class="form-control" placeholder="Nazwa" readonly="true" />
                    <span asp-validation-for="Project.Name" style="font-size:14px" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <textarea asp-for="Project.Description" class="form-control" placeholder="Opis (opcjonalny)" readonly="true)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <partial name="_BackButtonPartial" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function(){
    $('input').keydown(function(e){
        if (e.keyCode == 13) {
            console.log("wcisniety ENTER");
            $("input[value='next']").focus().click();
            return false;
        }
    });
});
</script>
