@using SODP.UI.Pages.Investors.ViewModels
@model InvestorVM
<!-- Modal -->

<div class="modal fade" id="editInvestor" tabindex="-1" role="dialog" aria-labelledby="editInvestorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-info" id="editInvestorLabel">@(Model.Id == 0 ? "Nowy inwestor" : "Edycja danych")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div id="error-placeholder"></div>
                <form asp-page-handler="EditInvestor">
                    <input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="form-group">
                        <label>Inwestor:</label>
                        <textarea asp-for="Name" class="form-control" placeholder="Nazwa i adres inwestora"></textarea>
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <partial name="_SubmitAndBackButtonModalPartial" />
            </div>
        </div>
    </div>

</div>