@using SODP.UI.Pages.ActiveProjects.ViewModels
@model PartBranchesVM
<div>
	<div>
		<label class="text-secondary">Branże w ramach części:</label>
		@if (Model.Branches.Count > 0)
		{
			
		}
		<div class="row font-weight-bold ml-2 text-primary">
			<span style="white-space: pre-line">Treść</span>
		</div>
	</div>
</div>
