@page
@model SODP.UI.Pages.ActiveProjects.TestModel
@{
    ViewData["Title"] = "Test";
}

 
<div class="container p-0 m-0">
        <button type="button"
                class="btn btn-info"
                data-toggle="tooltip"
                data-placement="top"
                title="Ustaw funkcje techniczne"
                onclick="TestModalClick()">
                Test modala
        </button>
</div>

<script>
    function TestModalClick() {
        console.log("Test modala");
        $.ajax({
            type: "Get",
            url: `@Url.Page("Test","TestModal")`,
            success: function (data) {
                console.log(data);
                $('#modal-placeholder').html(data);
                $('#testModal').modal('show');
            }
        })
    }
</script>


