<div class="row justify-content-center">
    <div class="col-5">
        <input type="submit" class="btn btn-primary form-control" value="Zapisz i wróć do listy" />
    </div>
    <div class="col-5">
        <a asp-page="Index" class="btn btn-success form-control">Anuluj</a>
    </div>
</div>
