@using SODP.UI.Services;
@using SODP.UI.Pages.Shared.ViewModels;

@model ProjectPartVM
@inject LanguageTranslatorFactory _translatorFactory

<label class="text-secondary">Branże w ramach części:</label>
@if (Model.Branches.Count > 0)
{
    @foreach (var item in Model.Branches)
    {
        <div class="row">
            <div class="col-2">
                <a onclick='Delete("/api/v0_01/projects/parts/branches/@item.Id")'
                   class="btn btn-lg m-0 p-0 text-danger clickable"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Usuń branżę">
                    <i class="fas fa-trash-alt "></i>
                </a>
                <a onclick="AddTechnicalRole(@item.Id)"
                   class="btn btn-lg m-0 p-0 text-danger clickable"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Dodaj rolę do branży">
                    <i class="fas fa-plus text-success"></i>
                </a>
            </div>
            <div class="col">@item.Branch.ToString()</div>
        </div>
        @foreach (var role in item.Roles)
        {
            <div class="row">
                <a onclick='Delete("/api/v0_01/projects/parts/branches/roles/@role.Id")'
                   class="col-2 btn btn-lg m-0 p-0 text-danger clickable"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Usuń rolę">
                    <i class="fas fa-trash-alt "></i>
                </a>
                <div class="col-3">@_translatorFactory.GetTranslator().Translate(role.Role):</div>
                <div class="col">@role.Designer</div>
            </div>
        }
    }
}
