@page
@model SODP.UI.Pages.Branches.IndexModel
@{
}

@{
    ViewData["Title"] = "Branże";
}
@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using SODP.UI.TagHelpers
@inject SignInManager<User> SignInManager

<br />
<div class="container row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Branże</h2>
    </div>
</div>