@page
@model IndexModel

@{
    ViewData["Title"] = "Samples";
}

@using Microsoft.AspNetCore.Identity
@using SODP.Model
@using System.Text.Json;
@using System.Text.Json.Serialization;

@inject SignInManager<User> SignInManager

<link rel="stylesheet " href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle/css/bootstrap4-toggle.min.css">

<script src="~/lib/jquery/dist/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>

<div class="container p-0 m-0">
    <div class="row pl-3 pr-3">
        <div class="col-9">
            <h2 class="text-info">@ViewData["Title"]</h2>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-3 justify-content-end">
                <button type="button"
                    class="btn btn-info form-control text-white float-right"
                    title="Nowy sampel"
                    data-toggle="ajax-modal"
                    data-url="@Url.Page("Index", "EditSample")"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;Nowy sampel
                </button>
            </div>
        }
    </div>
</div>

<p> Lista sample nie jest pusta</p>


@section Scripts{
    <script src="~/js/initModalPlaceholder.js"></script>
    <script src="~/js/samplesList.js"></script>
}