@using SODP.UI.Pages.ActiveProjects.ViewModels
@using SODP.UI.Services;

@model InvestorsVM

<!-- Modal -->
<div class="modal fade" id="investorsList" tabindex="-1" role="dialog" aria-labelledby="investorsListLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="text-info" id="investorsListLabel">Wybierz inwestora</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="text-danger" asp-validation-summary="ModelOnly"></div>
				<div id="error-placeholder"></div>
				<form asp-page-handler="investorsList" class="col-12 border-danger form">
					<input name="IsValidate" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
					@Html.HiddenFor(m => m.ProjectId, new { Value = "@Model.ProjectId" })
					<div class="form-group col-12 p-0">
						@Html.ListBoxFor(x => x.InvestorId, Model.Investors, htmlAttributes: new {@class="form-control", size="5" })
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<partial name="_SubmitAndBackButtonModal" />
			</div>
		</div>
	</div>
</div>